set sv_maxclients "32"
serverinfo maxfps "150"
set sv_mintic "0.025"
set sv_maxtic "0.03"
set sv_antilag "1"
set sv_bigcoords "1"
set act_timelimit "20"
set allow_download_pakmaps "1"

set tdm_scorelimit        "20"
set tdm_timelimit        "1.25"
set hq_scorelimit        "150"

# Gamemodes
set g_gamemode "action"
# set g_gamemode_variant "comp"
# set g_gamemode_variant "Doubles"
# set g_gamemode "blockbuster"
# set g_gamemode_variant "gunfight"
# set g_gamemode "race"


# Download rate rec from spoike
set sv_maxdrate "0"
set sv_maxdownloadrate "0"

set sv_motd1 "Welcome to Midnight Guns Pre-Alpha"
set sv_motd2 "^bwehatecrime.org"
# set sv_motd3 "line 3"
# set sv_motd4 "line 4"
# set sv_motd5 "line 5"
# set sv_motd6 "line 6"

set rcon_password "YourPasswordHere"

# Server Master List
net_master1 "master.midnightguns.com:27950"
net_master2 "master.frag-net.com:27950"
net_masterextra1 "localhost" # fixes ipv6 "cant connect" master server pings
net_masterextra2 "localhost"
net_masterextra3 "localhost"
